@model MyNZBlog.Models.Article

@{
    ViewData["Title"] = "Details";
}

@{
    List<ContentTag> tags = ViewData["tags"] as List<ContentTag>;
}  
<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleHasTags)
        </dt>
        <dd class="col-sm-10">

            @if (tags != null || tags.Count() > 0)
            {
                foreach (var item in tags)
                {
                    <a href="">@Html.DisplayFor(tag => item.Tag)</a>
                }
            }
            else
            {
                @Html.DisplayFor(model => model.ArticleHasTags)
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
