@model MyNZBlog.Models.ViewModel.ArticleViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.articles[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.articles[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.articles[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.articles[0].ArticleHasTags)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.articles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.Raw(item.Content)
            </td>
            <td>
                @if (item != null || item.ArticleHasTags.Count > 0)
                {
                    foreach (var articleTag in item.ArticleHasTags)
                    {
                        <a href="">@Html.DisplayFor(tag => articleTag.ContentTag.Tag)</a>
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @{
        int numberOfPage = 1;
        if (Model.size % Model.pageSize == 0)
        {
            numberOfPage = Model.size / Model.pageSize;
        }
        else
        {
            numberOfPage = Model.size / Model.pageSize + 1;
        }
        for (int i = 1; i <= numberOfPage; i++)
        {
        <a asp-action="Index" asp-route-pageNumber="@i">@i |</a>
        }
    }
</div>